<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Form</title>
  </head>
  <body>
    <form action="" method="post" class="col-md-6">
        <div class="form-group">
            <strong><label for="">Nome do Integrante:</label></strong>
            
            {% for integrante in integrante_list %}
            <select class="custom-select">
                <option selected>Selecione um Integrante:</option>
                <option value="{{ forloop.counter }}">{{ integrante.nome }}</option>
            </select>
            {% endfor %}

        </div>

            <div class="form-group">
                <label for="obj">Objetivo:</label>
                <input type="text" name="obj" id="" disabled>
            </div>

        <div class="form-group">
            <label for="kr1">Resultado-Chave 1:</label>
            <input type="text" name="kr1" id="box-1" disabled>
        </div>

        <div class="form-group">
            <label for="kr2">Resultado-Chave 2:</label>
            <input type="text" name="kr2" id="box-2" disabled>
        </div>

        <div class="form-group">
            <label for="kr3">Resultado-Chave 3:</label>
            <input type="text" name="kr3" id="box-3" disabled>
        </div>

        <div class="form-group">
            <label for="kr4">Resultado-Chave 4:</label>
            <input type="text" name="kr4" id="box-4" disabled>
        </div>

        <div class="form-group">
            <label for="kr5">Resultado-Chave 5:</label>
            <input type="text" name="kr5" id="box-5" disabled>
        </div>

        <input type="submit" value="Enviar">
    </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>